body {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 10px;
}
.no-touch .hand {
	cursor: pointer;
}
.nonselect,
.hand {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	     -o-user-select: none;
	        user-select: none;
}

.touchscroll {
	-webkit-overflow-scrolling: touch;
	   -moz-overflow-scrolling: touch;
	    -ms-overflow-scrolling: touch;
	     -o-overflow-scrolling: touch;
	        overflow-scrolling: touch;
}

.void {
	display: none !important;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.absmid {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.crosshair {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	pointer-events: none;
}
.crosshair:before {
	content: "";
	position: absolute;
	left: 50%;
	height: 100%;
	border-left: 1px solid black;
}
.crosshair:after {
	content: "";
	position: absolute;
	top: 50%;
	width: 100%;
	border-top: 1px solid black;
}

.out-01 {
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
	    -ms-transition: all 100ms ease-out;
	     -o-transition: all 100ms ease-out;
	        transition: all 100ms ease-out;
}

.out-02 {
	-webkit-transition: all 200ms ease-out;
	   -moz-transition: all 200ms ease-out;
	    -ms-transition: all 200ms ease-out;
	     -o-transition: all 200ms ease-out;
	        transition: all 200ms ease-out;
}

.out-03 {
	-webkit-transition: all 300ms ease-out;
	   -moz-transition: all 300ms ease-out;
	    -ms-transition: all 300ms ease-out;
	     -o-transition: all 300ms ease-out;
	        transition: all 300ms ease-out;
}

.out-05 {
	-webkit-transition: all 500ms ease-out;
	   -moz-transition: all 500ms ease-out;
	    -ms-transition: all 500ms ease-out;
	     -o-transition: all 500ms ease-out;
	        transition: all 500ms ease-out;
}

.slow-01 {
	-webkit-transition: all 100ms ease-in-out;
	   -moz-transition: all 100ms ease-in-out;
	    -ms-transition: all 100ms ease-in-out;
	     -o-transition: all 100ms ease-in-out;
	        transition: all 100ms ease-in-out;
}

.slow-02 {
	-webkit-transition: all 200ms ease-in-out;
	   -moz-transition: all 200ms ease-in-out;
	    -ms-transition: all 200ms ease-in-out;
	     -o-transition: all 200ms ease-in-out;
	        transition: all 200ms ease-in-out;
}

.slow-03 {
	-webkit-transition: all 300ms ease-in-out;
	   -moz-transition: all 300ms ease-in-out;
	    -ms-transition: all 300ms ease-in-out;
	     -o-transition: all 300ms ease-in-out;
	        transition: all 300ms ease-in-out;
}

.slow-05 {
	-webkit-transition: all 500ms ease-in-out;
	   -moz-transition: all 500ms ease-in-out;
	    -ms-transition: all 500ms ease-in-out;
	     -o-transition: all 500ms ease-in-out;
	        transition: all 500ms ease-in-out;
}
.info_ies {
	font-family: Arial;
	position: absolute;
	top: 0;
	right: 0;
	width: 280px;
	color: #fff;
	padding: 10px 0px 15px;
	background-color: rgb(26, 26, 26);
	font-size: 11px;
}
.btn_openEdit{
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: #BBBBBB;
	left: -50px;
	background-image: url(../images/icon_edit.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 55%;
	border-radius: 5px;
	cursor: pointer;
}
.btn_down {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: #BBBBBB;
	top: 50px;
	left: -50px;
	background-image: url(../images/icon_down.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 65%;
	border-radius: 5px;
	cursor: pointer;
}
.btn_openEdit:hover,
.btn_down:hover,
.load_demo:hover {
	background-color: #E4E4E4;
}
.ui-data-input label.label_file_input:hover {
	background-color:#DADADA
}
.info_ies .popup {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(1,1,1,0.5);
	z-index: 2;
	display: none;
}
.info_ies .popup .content {
	position: absolute;
	width: 355px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: table;
}
.info_ies .popup .itm_popup {
	/*display: block;*/
	margin: auto 0;
	width: 100%;
	/*padding: 20px;*/
	background-color: grey;
	border-radius: 5px;
}
.info_ies .popup .body {
	margin: 0 20px 0;
	padding-top: 20px;
}
.info_ies .popup .cont_btn {
	margin: 10px 20px 0;
	padding-bottom: 20px;
	/*padding: 20px 20px 0 20px;*/
}
.info_ies .popup .btn {
	display: inline-block;
	cursor: pointer;
}
.info_ies .popup .cont_btn {
	text-align: center;
	margin-top: 15px;
}
.info_ies .popup .cont_btn .btn {
	width: 90px;
	font-size: 12px;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	border-radius: 5px;
	text-transform: uppercase;
}

.info_ies .popup .cont_btn .btn.save{
	background-color: green;
	margin-right: 10px;
}
.info_ies .popup .cont_btn .btn.cancel{
	background-color: orange;
}
.info_ies .popup .itm {
	width: 100%;
	margin-bottom: 7px;
}
.info_ies .popup .itm.azim .val {
	height: 30px;
	width: 200px;
}
.info_ies .popup .itm.azim .val .cont_val {
	width: 100%;
	display: table;
}
.info_ies .popup .itm.azim .val .minus,
.info_ies .popup .itm.azim .val .plus,
.info_ies .popup .itm.azim .val input{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.info_ies .popup .itm.azim .val input {
	width: 123px;
    margin: 0 5px;
}
.info_ies .popup .itm.azim .val .minus {
	line-height: 23px;
}
.info_ies .popup .itm.azim .val .plus {
	line-height: 25px;
}
.info_ies .popup .itm.azim .val .minus,
.info_ies .popup .itm.azim .val .plus {
	width: 25px;
	height: 25px;
	background-color: #FDFDFD;
	border-radius: 3px;
	border: 1px solid #545454;
	font-size: 16px;
	font-weight: bold;
	color: black;
	cursor: pointer;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}



.info_ies .popup .itm > div{
	display: inline-block;
}
.info_ies .popup .itm .name {
	width: 100px;
	text-transform: uppercase;
	margin-right: 10px;
}
.info_ies .popup .itm .val {
	width: 190px;
} 
.info_ies .popup .itm .val input {
	width: 100%;
	padding: 3px 5px;
	border-radius: 3px;
	height: 20px;
	border: 1px solid #545454;
}

.info_ies .cont_info {
	position: relative;
}
.info_ies .info {
	width: 100%;
	padding: 5px 0px;
	display: table;
	border-bottom: 1px solid #2C2C2C;
}

.info_ies .info > div {
	display: table-cell;
}
.info_ies .info .name {
	width: 95px;
	padding-left: 20px;
	text-transform: uppercase;
}
.info_ies .info .val {
	padding-right: 20px;
}

.info_ies .vis_azim > div {
	display: block;
}
.info_ies .vis_azim .save_canvas {
	background-color: #146726;
	height: 25px;
	text-align: center;
	line-height: 25px;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 11px;
	color: white;
	margin: 10px 40px 0 auto;
	width: auto;
	padding: 0 15px;
	display: table;
	cursor: pointer;
}
.info_ies .vis_azim .cont_switch {
	min-height: 25px; 
	padding: 10px 20px;
}
.info_ies .vis_azim .canvas_azim {
	display: block;
	margin: 0 auto;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	user-select: none; 
}
.info_ies .vis_azim .cont_switch > div {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.info_ies .vis_azim .cont_switch .cont_val {
	vertical-align: middle;
	padding: 0 10px;
	position: relative;
}
.info_ies .vis_azim .cont_switch .cont_val .range_azim {
	width: 170px;
	margin: 0 auto;
}
.info_ies .vis_azim .cont_switch .angle {
	width: 30px;
	border-radius: 3px;
	vertical-align: bottom;
}

.info_ies .vis_azim .val {
	display: block;
	height: 25px;
}
.info_ies .vis_azim .angle .icon{
	width: 12px;
	height: 12px;
	padding: 5px;
	position: relative;
	cursor: pointer;
	background-color: rgb(109, 109, 109);
}
.info_ies .vis_azim .angle .icon:before {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	margin-left: -3px;
	margin-top: -5px;
}
.info_ies .vis_azim .angle.prev_angle .icon:before {
	border-right: 5px solid #2B2B2B; 
}
.info_ies .vis_azim .angle.next_angle .icon:before {
	border-left: 5px solid #2B2B2B; 
}
.info_ies .vis_azim .val {
	text-align: center;
	font-size: 12px;
	line-height: 25px;
}
.cont_preload {
	position: fixed;
	width: 100%;
	height: 100%;
	/*background-color: white;*/
	background-color: rgba(0,0,0,0.5);
	z-index: 99;
	display: none;
}
.cont_preload .popup {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 50px;
	margin-top: -25px;
	margin-left: -100px;
	background-color: gray;
	border-radius: 25px;
}
.cont_preload .popup .preload {
	position: absolute;
	width: 150px;
	height: 10px;
	background-color: rgba(0,0,0,0.9);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 5px;
	overflow: hidden;
}
.cont_preload .popup .percent{
	width: 100%;
	height: 100%;
	background-color: green;
}
.cont_preload.show{
	display: block;
}

.logo{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 230px;
	height: 150px;
	/*background-image: url(../images/logo-lamp.png);*/
	/*background-image: url(../images/logo_kit_white.png) ;*/
	background-image: url(../images/logo_kit.png);

	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 80%;
}
.cont_list_val {
	width: 175px;
	overflow-x: hidden;
	margin-bottom: 10px;
	position: absolute;
	pointer-events: none;
	height: 30px;
	top:0;
}
.cont_list_val:before ,
.cont_list_val:after {
	content: '';
	position: absolute;
	top: 0;
	width: 10px;
	height: 15px;
	z-index: 1;
} 
.cont_list_val:before  {

	left: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a1a1a+0,7db9e8+100&1+0,0+100 */
	background: -moz-linear-gradient(left, rgba(26,26,26,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(26,26,26,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(26,26,26,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}
.cont_list_val:after  {
	
	right: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,1a1a1a+100&0+0,1+100 */
	background: -moz-linear-gradient(left, rgba(125,185,232,0) 0%, rgba(26,26,26,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(125,185,232,0) 0%,rgba(26,26,26,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(125,185,232,0) 0%,rgba(26,26,26,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#1a1a1a',GradientType=1 ); /* IE6-9 */
}
.list_val {

}
.list_val .itm {
	display: inline-block;
	width: 30px;
	text-align: center;
	position: relative;
}
.list_val .itm:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 12px;
	width: 1px;
	height: 12px;
	margin-left: -1px;
	background-color: gray;
}

.cont_range {
	width: 100%;
	height: 10px;
	position: relative;
}
.cont_range .line {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: blue;
}
.cont_range .cont_slider{
	width: 10px;
	margin-left: -5px;
	height: 100%;
	position: absolute;
	bottom: 0;
}
.cont_range .cont_slider:hover .slider {
	background-color: orange;
}
.cont_range .cont_slider .slider {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-color: green;
}
.cont_range .cont_slider .slider.left {
	margin-left: -5px;
}


input[type=range] {
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	background: #0006D0;
	border-radius: 0px;
	border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 13px solid #6D6D6D;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #0006D0;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	background: #0006D0;
	border-radius: 0px;
	border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 13px solid #6D6D6D;
	border-radius: 3px;
	background: #6D6D6D;
	cursor: pointer;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	border-width: 39px 0;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #0006D0;
	border: 0px solid #000101;
	border-radius: 0px;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
	background: #0006D0;
	border: 0px solid #000101;
	border-radius: 0px;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 13px solid #6D6D6D;
	border-radius: 3px;
	background: #6D6D6D;
	cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
	background: #0006D0;
}
input[type=range]:focus::-ms-fill-upper {
	background: #0006D0;
}

.info_footer {
	position: absolute;
	color: #fff;
	bottom: 20px;
	/*right: 0;*/
	left: 20px;
	z-index: 10;
	/*display: none;*/
}
.info_footer .btn_author {
	display: block;
	width: 120px;
	height: 30px;
	background-color: #3467CC;
	text-transform: uppercase;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	cursor: pointer;
}

.info_footer .content {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background: rgba(0, 0, 0, 0.7);
	color: #D6D6D6;
	display: none;
}
.info_footer .content.show {
	display: block;
}
.info_footer .list_author {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 200px;
	margin-top: -120px;
	margin-left: -170px;
	background-color: #1A1A1A;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #2C2C2C;
}
.info_footer .link_program {
	margin-bottom: 10px;
}
.info_footer .title {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}
.info_footer .authors {
	padding-left: 15px;
    font-size: 13px;
}
.info_footer .close {
	margin: 50px auto 0;
	display: table;
	width: 100px;
	height: 25px;
	background-color: #3467CC;
	border-radius: 5px;
	text-align: center;
	line-height: 25px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	cursor: pointer;
}
/*.info_footer .link_program > div,
.info_footer .list_author > div {
	display: table-cell;
}*/
.info_footer .name {
	width: 100px;
	padding-right: 10px;
	text-align: right;
}
.info_footer .list_author .itm_author {
	margin-bottom: 10px;
	padding-left: 10px;
}

.info_footer a {
	color: #fff;
}



.percent_div {
	position: absolute;
	top: 400px;
	left: 100px;
	width: 600px;
	height: 20px;
	border: 1px solid #DDDDDD;
	background-color: #DDDDDD;
	/*background: url('upload.gif');*/
	background-position: -600px 0px;
	background-repeat: no-repeat;
	text-align: center;
	margin-bottom: 1px;
	font-family: Arial;
}