.ui {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.ui .viewport {
	position: absolute;
	left: 0;
	top: 0px;
	width: 100%;
	bottom: 0px;
	background-color: #d9d9d9;
}




.dg.main {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 8px;
	margin: auto;
	/*z-index: 2;*/
}
.dg .close-button {
	display: none;
}


.dg.main  {
	width: 300px;
}
.dg.main .change {
	display: inline-block;
	width: 90px;
	height: 90px;
	margin-right: 10px;

}
.dg.main .change label {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #000;
	border: 2px solid #909090;
	background-position: center;
	background-repeat:  no-repeat;
		cursor: pointer;
}
.dg.main .change.cont_all label{
	background-image: url(../images/icon_figure_1.png)
} 
.dg.main .change.cont_figure label {
	background-image: url(../images/icon_figure_2.png)
}
.dg.main .change.cont_line label {
	background-image: url(../images/icon_figure_3.png)
}
.dg.main .change input {
	display: none;
}
.dg.main .change input:checked + label
{
	/*background-color: #ff0000;*/
	border-color: #86eb13;
}

.dg.main .change label:hover{
	/*background-color: #4C4C4C;*/
}
.view3 {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	/*background-color: #000;*/

	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	     -o-user-select: none;
	        user-select: none;
}
.view3.hover {
	cursor: crosshair;
}
.view3.drag {
	cursor: -webkit-grab;
	cursor:    -moz-grab;
	cursor:     -ms-grab;
	cursor:      -o-grab;
	cursor:         grab;
}
.view3.down {
	cursor: -webkit-grabbing;
	cursor:    -moz-grabbing;
	cursor:     -ms-grabbing;
	cursor:      -o-grabbing;
	cursor:         grabbing;
}


.tip {
	position: absolute;
	border: 1px solid #888;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
	z-index: 2;
}
.tip-content {
	background-color: white;
}
.tip-arrow {
	position: absolute;
	margin-top: -8px;
	margin-left: -8px;
	width: 16px;
	height: 16px;
	border: 1px solid #888;
	box-sizing: border-box;
	background-color: white;

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);

	z-index: -1;
}



.ui-data-input {
	position: absolute;
	left: 20px;
	top: 150px;
	
	z-index: 1;
}
.ui-data-input .load_demo:hover,
.ui-data-input label.label_file_input:hover, {
	background-color: #888;
}

.load_demo {
	display: block;
	height: 64px;
	width: 225px;
	border-radius: 5px;
	background-color: #bbb;
	font-size: 18px;
	text-indent: 60px;
	line-height: 64px;
	margin-bottom: 10px;
	cursor: pointer;
	position: relative;

}
.ui-data-input input[type="file"] {
	width: 235px;
	height: 24px;
	padding: 20px 12px;
	cursor: pointer;
	display: none;
}

.ui-data-input label.label_file_input {
	width: 200px;
	height: 24px;
	padding: 20px 12px;
	cursor: pointer;
	display: block;
	font-size: 18px;
	/*text-align: center;*/
	background-color: #bbb;
	position: relative;
	border-radius: 5px;
}

.ui-data-input .load_demo:before,
.ui-data-input label.label_file_input:before {
	position: absolute;
	content: '';
	top: 50%; 
	margin-top: -13px;
	left: 20px;
	width: 27px;
	height: 27px;
	background-repeat: no-repeat;
	background-position: center;
}

.ui-data-input .load_demo:before{
	background-image: url(../images/icon_load_demo.png);
}
.ui-data-input label.label_file_input:before{
	background-image: url(../images/icon_upload.png);
}
.ui-data-input label span{
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	width: 100%;
	text-indent: 50px;
	white-space: nowrap;
	overflow: hidden;
	line-height: 25px;

	text-overflow: ellipsis;
}