.ui {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.ui .viewport {
	position: absolute;
	left: 0;
	top: 0px;
	width: 100%;
	bottom: 0px;
/*	background-color: #d9d9d9;*/
}

.dg.main {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	margin: auto;
	/* z-index: 2; */
	padding-left: 5px;
	padding-top: 20px;
	padding-bottom: 5px;
	background-color: black;
}
.dg .close-button {
	display: none;
}


.dg.main  {
	width: 450px;
}
.dg.main .change {
	display: inline-block;
	width: 69px;
	height: 69px;
	margin-right: 5px;
	position: relative;
}
.dg.main .change:last-child {
	margin-right: 0;
}
.dg.main .change label {
	display: block;
	width: 65px;
	height: 65px;
	/*background-color: #000;*/
	border: 2px solid #909090;
	background-position: center;
	background-repeat:  no-repeat;
	cursor: pointer;
	background-size: 65%;
}
.dg.main .change.cont_all label{
	background-image: url(../images/icon_figure_1.png)
} 
.dg.main .change.cont_figure label {
	background-image: url(../images/icon_figure_2.png)
}
.dg.main .change.cont_line label {
	background-image: url(../images/icon_figure_3.png)
}
.dg.main .change input {
	display: none;
}
.dg.main .change:not(.bg) input:checked + label{

	border-color: #86eb13;
}

.dg.main .change label:hover {
	/*background-color: #4C4C4C;*/
}
.view3 {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 0;

	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	     -o-user-select: none;
	        user-select: none;

	background-color: rgba(0,0,0,0.5); 
}

.view3 .img_canvas {
	/*display: none;*/
	z-index: 10;
	pointer-events: none;
	display: none;
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.view3.hover {
	cursor: crosshair;
}
.view3.drag {
	cursor: -webkit-grab;
	cursor:    -moz-grab;
	cursor:     -ms-grab;
	cursor:      -o-grab;
	cursor:         grab;
}
.view3.down {
	cursor: -webkit-grabbing;
	cursor:    -moz-grabbing;
	cursor:     -ms-grabbing;
	cursor:      -o-grabbing;
	cursor:         grabbing;
}


.tip {
	position: absolute;
	border: 1px solid #888;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
	z-index: 2;
}
.tip-content {
	background-color: white;
}
.tip-arrow {
	position: absolute;
	margin-top: -8px;
	margin-left: -8px;
	width: 16px;
	height: 16px;
	border: 1px solid #888;
	box-sizing: border-box;
	background-color: white;

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);

	z-index: -1;
}



.ui-data-input {
	position: absolute;
	left: 20px;
	top: 150px;
	min-width: 250px ;
	z-index: 1;
}
.ui-data-input .load_demo:hover,
.ui-data-input label.label_file_input:hover, {
	background-color: #888;
}

.list_file {

}
.list_file .itm {
	margin-bottom: 10px;
	position: relative;
}
.list_file > div:last-child{
	margin-bottom: 20px;
}
.list_file .cont_btn_sum.change .ies_sum:before,
.list_file .itm.change:before {
	position: absolute;
	content: '';
	top: -5px;
	left: -5px;
	border-radius: 5px;
	border: 2px solid #47e800;
	width: 257px;
	height: 37px;
	pointer-events: none;
}
.list_file .ies_sum > div,
.list_file .itm > div{
	display: inline-block;
	vertical-align: top;
}
.list_file .ies_sum .name,
.list_file .itm .name{
	height: 30px;
	width: 195px;
	display: inline-block;
	background-color: #BBBBBB;
	line-height: 30px;
	padding: 0 10px;
	color: black;
	margin-right: 5px;
	border-radius: 3px;
	font-size: 12px;
	cursor: pointer;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.list_file .ies_sum .del,
.list_file .itm .del{
	cursor: pointer;
	width: 30px;
	height: 30px;
	background-color: red;
	border-radius: 3px;
	color: white;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.list_file .ies_sum .del:before,
.list_file .ies_sum .del:after,
.list_file .itm .del:before,
.list_file .itm .del:after {
	content: '';
	width: 20px;
	height: 1px;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -10px;
}
.list_file .ies_sum .del:before ,
.list_file .itm .del:before {
	transform: rotate(45deg);
}
.list_file .ies_sum .del:after,
.list_file .itm .del:after {
	transform: rotate(-45deg);
}
.list_file .calc_sum, 
.list_file .ies_sum .text_sum {
	height: 30px;
	color: white;
	line-height: 30px;
	text-transform: uppercase;
	background-color: #f08b00;
	font-size: 14px;
	border-radius: 5px;
	cursor: pointer;
}
.list_file .calc_sum{
	width: 100%;
	text-align: center;
}

.list_file .ies_sum,
.list_file .cont_btn_sum.sum .calc_sum {
	display: none;
	position: relative;

}
.list_file .cont_btn_sum.sum .ies_sum {
	display: block;
}
.list_file .ies_sum .text_sum{
	margin-right: 5px;
	width: 215px;
	text-indent: 10px;
}

.load_demo {
	display: block;
	height: 64px;
	width: 250px;
	border-radius: 5px;
	background-color: #bbb;
	font-size: 18px;
	text-indent: 60px;
	line-height: 64px;
	margin-bottom: 10px;
	cursor: pointer;
	position: relative;

}
.ui-data-input input[type="file"] {
	width: 235px;
	height: 24px;
	padding: 20px 12px;
	cursor: pointer;
	display: none;
}
.ui-data-input .dropzone {
	width: 100%;
	height: 85px;
	font-size: 18px;
	text-align: center;
	padding: 10px 0 10px 0;
	background-color: #BBBBBB;
	border-radius: 5px;
}
.ui-data-input .dropzone.disabled{
	cursor: pointer;
	pointer-events: none;
	opacity: 0.5;
}
.ui-data-input .dropzone:hover{
	background-color: #fff;
}
.ui-data-input .dropzone.hover {
	background-color: red;
}

.ui-data-input label.label_file_input {
	height: 24px;
	cursor: pointer;
	display: block;
	/*background-color: #bbb;*/
	position: relative;
	border-radius: 5px;
	margin: 15px auto 0;
	padding: 10px 8px;
	width: 180px;
	font-size: 15px;
	background-color: #A9A9A9;
	box-shadow: 0 0 10px rgb(103, 103, 103);
}

.ui-data-input .load_demo:before,
.ui-data-input label.label_file_input:before {
	position: absolute;
	content: '';
	top: 50%; 
	margin-top: -13px;
	left: 15px;
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.ui-data-input .load_demo:before{
	background-image: url(../images/icon_load_demo.png);
	width: 27px;
	height: 27px;
}
.ui-data-input label.label_file_input:before{
	background-image: url(../images/icon_upload.png);
	width: 22px;
	height: 23px;
	margin-top: -12px;
	left: 13px;
}
.ui-data-input label span{
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	width: 100%;
	text-indent: 40px;
	white-space: nowrap;
	overflow: hidden;
	line-height: 25px;
	text-align: left;
	text-overflow: ellipsis;
}